

<div class="wrapper row2">
    <div id="container" class="clear">
     <div id="about-us" class="clear">
        <section id="about-intro" class="clear">
          <h2>Quem Somos</h2>
         
          <p>In sed neque id libero pretium luctus. Vivamus faucibus.
               Ut vitae elit. In hac habitasse platea dictumst. Proin et nisl ac orci
                tempus luctus. Aenean lacinia justo at nisi. Vestibulum sed eros sit
                 amet nisl lobortis commodo. Suspendisse nulla. Vivamus ac lorem.
                  Aliquam pulvinar purus at felis. Quisque convallis nulla id ipsum.
                   Praesent vitae urna. Fusce blandit nunc nec mi. Praesent vestibulum hendrerit ante.</p>
          <p>Vivamus accumsan. Donec molestie pede vel urna. Curabitur eget sem ornare felis gravida
               vestibulum.Sed pulvinar, tellus in venenatis vehicula, lorem magna dignissim erat,
                in accumsan ante lorem sit amet lorem.</p>
        </section>
      </div>
    </div>
  </div>